.adminDashboard {
    h3{
        margin : 2vw;
        letter-spacing: .3vw;
        font-size: 1.6vw;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase;
        color: rgb(43, 75, 234);
    }
    .adminDashboardUserViewWrapper {
        box-shadow: .1vw .1vw 1vw .1vw #ccc;
        display: grid;
        grid-template-areas: 
            'i c c c c c c c c'
        ;
        background-color: $purple;
        margin: 2vw;
        border-radius: 2vw;
        padding: 2vw 0;
        img {
            border-radius: 50% 50%;
            width: 20vw;
            height: 20vw;
            display: block;
            margin: auto;
            grid-area: i;
        }
        .adminDashboardUserView {
            grid-area: c;
            position: relative;
            line-height: 1;
            border-radius: 2vw;
            padding: 2vw;
            background-color: rgb(213, 213, 213);
            color: #111;
            margin: 2vw;
            header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                i {
                    border-radius: 50%;
                    display: flex;
                    width: 1vw;
                    height: 1vw;
                    padding: 1vw;
                    font-size: 1vw;
                    justify-content: center;
                    align-items: center;
                    transition: .3s;
                    background: $purple;
                    color: #fff;
                    &:hover {
                        cursor: pointer;
                        background-color: rgb(213, 213, 213);
                        color: $purple;
                    }
                }
            }
            span {
                font-family: Poppins !important;
                padding: .8vw;
                display: block;
                letter-spacing: .2vw;
            }
            .key {
                padding-bottom: 1vw;
                text-transform: uppercase;
            }
            .val {
                display: block;
                margin-bottom: 2vw;
            }
        }
    }

    .adminDashboardTestView, .adminDashboardArticleView, .adminDashboardCommentView{
        box-shadow: .1vw .1vw 1vw .1vw #ccc;
        line-height: 1;
        border-radius: 2vw;
        padding: 2vw;
        background-color: rgb(213, 213, 213);
        color: #111;
        margin: 2vw;
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            i {
                border-radius: 50%;
                display: flex;
                width: 1vw;
                height: 1vw;
                padding: 1vw;
                font-size: 1vw;
                justify-content: center;
                align-items: center;
                transition: .3s;
                background: $purple;
                color: #fff;
                &:hover {
                    cursor: pointer;
                    background-color: rgb(213, 213, 213);
                    color: $purple;
                }
            }
        }
        span {
            font-family: Poppins !important;
            padding: .8vw;
            display: block;
            letter-spacing: .2vw;
        }
        .key {
            padding-bottom: 1vw;
            text-transform: uppercase;
        }
        .val {
            display: block;
            margin-bottom: 2vw;
        }
    }
}

.adminLogin {
    color: #ffffff;
    background-color: #6d0dfd;
    height: 88vh;
    font-weight: 300;
    h2 {
        text-align: center;
        padding:2vw 1vw 1vw;
    }
    form {
        border-radius: 2vw !important;
        padding: 3vw 3vw;
        margin: 1vw auto;
        width: 37%;
        font-size: 1.3vw !important;
        color: #111111;
        background-color: #ffffff;
    }
    input {
        font-size: 1.5vw !important;
        display: block;
        margin:.1vw auto 1vw;
        width: 100%;
        padding: 1vw;
        transition: .3s;
        border-radius: 1vw;
        border: none;
        background-color: #e5e5e5;
        border-radius: 2vw;
        &:focus-visible {
            border: none !important;
            outline: none;
        }
    }
    input[type='submit'] {
        background-color: #6d0dfd;
        text-transform: uppercase;
        color: #fff;
        font-weight: 800;
        font-family: 'Montserrat', sans-serif !important;
        &:hover {
            cursor: pointer;
            background-color: $purple;
        }
    }
    span {
        display: block;
        text-align: center;
        color: red;
    }
}